<my-navigation></my-navigation>
<h2>Ranking</h2>
<ul class="restaurants">
    <li *ngFor="let restaurant of restaurantList" (click)="onSelect(restaurant)" [class.selected]="restaurant === selectedRestaurant">
        <span class="badge">{{ restaurant.name }}</span>
        <span>{{restaurant.name}}</span>
    </li>
</ul>
<h3 *ngIf="isLoading">Loading...</h3>