<nav>
    <a routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
    <a routerLink="/ranking" routerLinkActive="active">Ranking</a>
    <a routerLink="/configuration" routerLinkActive="active">Configuration</a>
    <a class="logoff" (click)="logOff(); $event.stopPropagation()">Log off</a>
</nav>