<my-navigation></my-navigation>
<h2>Restaurants</h2>
<ul class="restaurants">
    <li *ngFor="let restaurant of restaurantList" (click)="onSelect(restaurant)" [class.selected]="restaurant === selectedRestaurant">
        <span>{{restaurant.name}}</span>
        <button class="vote" (click)="vote(restaurant); $event.stopPropagation()">x</button>
    </li>
</ul>
<h3 *ngIf="isLoading">Loading...</h3>