<div>
  <h2>Login</h2>
  <div>
    <label>Username: </label><br />
    <input class="form-control" required [(ngModel)]="user.username" placeholder="Username" id="username" #username="ngModel" />
  </div>
  <div>
    <label>Password: </label><br />
    <input class="form-control" required [(ngModel)]="user.password" type="password" placeholder="Password" id="password" #password="ngModel" />
  </div>
  <button (click)="login()">Sign in</button>
</div>
