<my-navigation></my-navigation>
<h2>Configuration</h2>

<div>
    <label>Select another date: </label><br />
    <input class="form-control" [(ngModel)]="now" type="date">
</div>
<button (click)="save()">Save</button>